.container{

    width: 1000px;
    height: 1000px;
    background-color: azure;
}


.myclass{
border: 2px solid red;
background-color: antiquewhite;
color: black;
font-size: 30px;
text-align: center;

}