<div class="container">


  

  <div class="row mt-5">
    <div class="col-md-12">

      

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">AshokIt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" routerLink="/service">Services</a>
            <a class="nav-link" routerLink="/aboutus">AboutUs</a>
            <a class="nav-link" routerLink="/login">Login</a>
            
          </div>
        </div>
      </nav>

     


    </div>

  </div>

  <div class="row mt-5 r1">
    <div class="col-md-12">
      <router-outlet></router-outlet>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <footer>@CopyWrite-2023</footer>

    </div>

  </div>


</div>